name: Deploy to GitHub Pages

# This workflow will be triggered when:
#   - A new release is published, whether as a full release or a
#     pre-release. Draft releases will not trigger this workflow
#     until they are published.
#
# This workflow will:
#   - Check out the code that is being published.
#   - Build the HTML and JS using Vue CLI.
#   - Deploy that code to the gh-pages branch using an SSH deploy
#     key. This key is stored as an encrypted secret in the repository.

on:
  push:
  release:
    types: [published]

# Give this workflow permission to write to the gh-pages branch.
permissions:
  contents: write

# Based on https://github.com/marketplace/actions/deploy-to-github-pages
jobs:  
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
        
      - name: Build Vue page in /docs
        run: |
          npm install
          VUE_APP_VERSION=$GITHUB_REF_NAME npm run build
          
      - name: Deploy /docs to branch gh-pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          BRANCH: gh-pages
          FOLDER: dist
          CLEAN: true
